{
    "presets":[
        // { 
        //     "env": {
        //         "modules": false
        //     } 
        // },
        "env",
        "react"
    ],
    "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true },"external-helpers"]
    ]
}